/* Fonts */

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-900.ttf') format('truetype');
}

/* Base */

:root {
  --color-primay-dark: #31261A;
  --color-primay-light: #FAF4EA;
  --color-brand-light: #819B57;
  --color-brand-dark: #465929;
}

body {
  color: var(--color-primay-dark);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  /* Кофициєнт 27 / 18 = 1.5 */
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* Button */
.btn-primary {
  color: var(--color-primay-light);
  font-weight: 600;
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Links */
.nav-links {
  color: var(--color-primay-light);
  text-decoration: none;
}

.nav-links:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Hero section */
.hero-title {
  color: var(--color-primay-light);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
  /* font-style: italic; */
  /* text-decoration: none; */
  /* white-space: nowrap; */
  /* text-shadow: 2px 2px 4px #000; */
  /* letter-spacing: 4px; */
  /* word-spacing: 15px; */
}

.hero-title .accent {
  color: var(--color-brand-light);
  font-family: "Poppins", sans-serif;
}

/* Advantages section */
.advantages-ul {
  color: var(--color-primay-light);
  background-color: var(--color-brand-light);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chef section */

.chef-title {
  font-size: 40px;
  font-weight: 600;
}

/* Format section */

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Footer */

.address-link {
  color: var(--color-primay-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}