/* Base */

:root {
  --color-primay-dark: #31261A;
  --color-primay-light: #FAF4EA;
  --color-brand-light: #819B57;
  --color-brand-dark: #465929;
}

body {
  color: var(--color-primay-dark);
}

ul {
  list-style-type: none;
}

/* Button */
.btn-primary {
  color: var(--color-primay-light);
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Links */
.nav-links {
  color: var(--color-primay-light);
  text-decoration: none;
}

.nav-links:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
  color: var(--color-primay-light);
  text-align: center;
  /* text-shadow: 2px 2px 4px #000; */
  /* letter-spacing: 4px; */
  /* word-spacing: 15px; */
  /* white-space: nowrap; */
}

.hero-title .accent {
  color: var(--color-brand-light);
  font-family: "Poppins", sans-serif;
}

/* Advantages section */
.advantages-ul {
  color: var(--color-primay-light);
  background-color: var(--color-brand-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-text .brand {
  color: var(--color-brand-light);

}

.traditions-text .uppercase {
  text-transform: uppercase;
}