/* Fonts */

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-900.ttf') format('truetype');
}

/* Base */

* {
  box-sizing: border-box;
}

:root {
  --color-primay-dark: #31261A;
  --color-primay-light: #FAF4EA;
  --color-brand-light: #819B57;
  --color-brand-dark: #465929;
}

body {
  color: var(--color-primay-dark);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  /* Кофициєнт 27 / 18 = 1.5 */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */

.header {
  background-color: lightgray;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 64px;
}

.header-item {}

/* Button */
.btn-primary {
  color: var(--color-primay-light);
  font-weight: 600;
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
}

.btn-primary:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Links */
.nav-links {
  color: var(--color-primay-light);
  text-decoration: none;
}

.nav-links:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-section {
  padding: 272px 0;
  /* background: url(../img/coupe-in-bekery.jpg) no-repeat center top / cover fixed; */
  background-image: url(../img/coupe-in-bekery.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background-attachment: fixed; */
}

.hero-title {
  color: var(--color-primay-light);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
  /* font-style: italic; */
  /* text-decoration: none; */
  /* white-space: nowrap; */
  /* text-shadow: 2px 2px 4px #000; */
  /* letter-spacing: 4px; */
  /* word-spacing: 15px; */
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-light);
  font-family: "Poppins", sans-serif;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Advantages section */
.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}

.advantages-ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primay-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

/* Chef section */
.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Format section */
.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Contact section */
.contact-title {
  margin-bottom: 16px;
}

/* Footer */

.address-link {
  color: var(--color-primay-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}